.ant-collapse {
  margin: 0px 10% 0 10%;
  width: 80%;
  position: relative;
  background-color: transparent;
  border: 0;
}
.ant-collapse-content {
  background-color: transparent;
}
.ant-checkbox-group-item {
  margin-right: 20px;
}
